<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Computer Galaxy's About Page</title>
</head>
<body>

<div class="container">
    <h1>About Computer <font color = blue> Galaxy </font></h1>
    <hr>
    <h2>Our Mission:</h2>

    <p>Welcome to Computer Galaxy, your premier destination for all things technology. At Computer Galaxy,
        we are dedicated to providing an unparalleled shopping experience for individuals, businesses, and tech enthusiasts alike.
        Our mission is rooted in offering a curated selection of cutting-edge products, expert advice, and exceptional customer service.
        At the heart of Computer Galaxy is a commitment to staying ahead of the technological curve. In an ever-evolving landscape,
        we understand the importance of offering the latest and most reliable computing solutions.
        Whether you're a seasoned professional in the field or a student navigating the complexities of computer science,
        our store is designed to cater to your diverse needs.
        Our vision goes beyond just selling products; it's about providing comprehensive solutions that seamlessly integrate into your lifestyle.
        We believe that technology should enhance your daily experiences, and our team is dedicated to ensuring you find the perfect tools to meet your requirements.
        Join us at Computer Galaxy and explore the vast possibilities that the world of computing has to offer – where innovation meets practicality,
        and customer satisfaction is our top priority.</p>

    <h2>Our Storefront:</h2>
    <a href="http://localhost:8080/mainscreen">Computer Galaxy</a>
</div>
</body>
</html>